* {
    margin: 0;
    padding: 0;
}

.header { 
    height: 106px;
    width: 100%;
    
    background: #474747;

    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    height: 1px;
    background-color: #FAFF00;
    width: 100%;
}

.logo-title {
    font-family: 'Fira Sans', sans-serif;
    font-size: 60px;
    font-weight: bold;

    color: #FAFF00;
}

@media (max-width: 567px) {
    .logo-title {
        font-size: 30px;
    }
}
@media (min-width: 568px) {
    .logo-title {
        font-size: 40px;
    }
}

@media (min-width: 861px) {
    .logo-title {
        font-size: 50px;
    }
}
@media (min-width: 1000px) {
    .logo-title {
        font-size: 60px;
    }
}
